body {
  background-color: #6E85B7;
}

.container{
  padding: 0 20px;
}

nav{
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 20px
}

a{
  text-decoration: none;
  color: #F8F9D7;
}

h1 {
  color: #F8F9D7;
  font-size: 1.5rem;
}

.two-row {
  grid-column: 1 / 3;
}

.orange {
  background-color: #f5913e;
}

.ash {
  background-color: #e0e0e0;
}
