body {
  background-color: #6e85b7;
}

.container {
  padding: 0 20px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #f8f9d7;
}

h1 {
  color: #f8f9d7;
  font-size: 1.5rem;
}

.two-row {
  grid-column: 1 / 3;
}

.orange {
  background-color: #f5913e;
}

.ash {
  background-color: #e0e0e0;
}
